{% block sw_cms_element_review_page %}
<div class="sw-cms-el-review-page">
    <div class="sw-cms-el-review-page__content">
        <div class="sw-cms-el-review-page-placeholder-listing">
            <div class="sw-cms-el-review-page-navigation__placeholder--subcategory"></div>
            <div class="sw-cms-el-review-page-navigation__placeholder--subcategory"></div>
            <div class="sw-cms-el-review-page-navigation__placeholder--subcategory"></div>
        </div>
    </div>
</div>
{% endblock %}
