{% block sw_cms_element_review_page_preview %}
<div class="sw-cms-el-preview-review-page">
    <div class="sw-cms-review-page-item-preview"></div>
    <div class="sw-cms-review-page-item-preview"></div>
</div>
{% endblock %}
