<div class="sw-cms-el-config-review-page">

    <sw-field class="sw-cms-el-config-review-page__min-rating"
              v-model="element.config.minRating.value"
              type="number"
              :label="$tc('sw-cms.elements.reviewPage.config.label.minRating')">
    </sw-field>

    <sw-field class="sw-cms-el-config-review-page__max-reviews"
              v-model="element.config.maxReviews.value"
              type="number"
              :label="$tc('sw-cms.elements.reviewPage.config.label.maxReviews')">
    </sw-field>

</div>
